* {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: initial;
}

.smallDetails {
	font-size: smaller;
	color: #888;
	break-after: auto;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
