.information {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	text-align: left;
	font-size: 1.2rem;
}

.information .informationDetails {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}

.information .informationDetails span.bullets {
	display: inline-block;
	background-color: #fff;
	color: #6a1c1b;
	box-shadow: 16px 8px 15px rgba(0, 0, 0, 0.1);
	width: 25px;
	padding: 1%;
	text-align: center;

	border-right: 2px solid rgba(161, 143, 143, 0.533);
}

.information .informationDetails section {
	background-color: #fff;
	color: #6a1c1b;
	width: 100%;
	font-size: 18px;
	border-bottom: 2px dashed rgba(161, 143, 143, 0.533);
}
