.petLayoutWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.profile {
	width: calc((400px - 2% - 2px));
	height: fit-content;
	padding: 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
}
.avatar {
	display: block;
	width: 100%;
	height: calc(200px - 1%);
	padding-bottom: 1%;
	text-align: center;
	border-bottom: 1px solid #e1e1e6;
}
.avatar img {
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.profileInfo {
	display: block;
	width: 100%;
	text-align: center;
}

.profileInfo span.username {
	display: block;
	width: 100%;
	margin-top: 5%;
	font-size: 1.2rem;
	text-align: center;
}
.rightPetSide {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: calc(800px);
	width: calc(800px);
	overflow-x: hidden;
}
.petDetails {
	width: calc(100% - 4%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding: 1%;
	overflow-x: auto;
}

.petDetails b {
	margin: 1%;
	border-bottom: 1px solid #e1e1e6;
}
.petDetails table {
	width: calc(100% - 62px);
	border-spacing: 12px;
	text-align: center;
}

.petDetails .border-right {
	padding-right: 5px;
	border-right: 1px dashed #e1e1e6;
}
